.footer {
    background-color: #A2B29F; /* Soft pastel pink background */
    text-align: center;
    padding: 15px; 
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow on top for elegance */
  }
  